div {
    background-color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
}

#hello {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}